<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Rate Tables</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    @{ Html.RenderPartial("_NavBar"); }

    <div class="container my-5">
        @RenderBody()
    </div>

    <footer id="main-footer" class="bg-dark fixed-bottom py-2 text-info">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-3 text-md-right">
                    <p>Rob Rabel &copy; @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
