@model MRT.ViewModels.PolicyFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container px-2">
    <h3><i class="fas fa-edit mr-2"></i>@Model.Title</h3>
    <hr />
    <div class="card">
        @using (Html.BeginForm("Save", "Policies", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(p => p.Number, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(p => p.Number, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.Number)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(p => p.StartDate, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(p => p.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.StartDate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(p => p.EndDate, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(p => p.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.EndDate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(p => p.PolicyTypeId, new { @class = "font-weight-bold" })
                            @Html.DropDownListFor(p => p.PolicyTypeId, new SelectList(Model.PolicyTypes, "Id", "Name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.PolicyTypeId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(p => p.FundingRate, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(p => p.FundingRate, new { @class = "form-control", aria_label = "Funding rate to the nearest thousandth" })
                            @Html.ValidationMessageFor(p => p.FundingRate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(p => p.CollateralRate, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(p => p.CollateralRate, new { @class = "form-control", aria_label = "Colleteral rate to the nearest thousandth" })
                            @Html.ValidationMessageFor(p => p.CollateralRate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(p => p.LossRate, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(p => p.LossRate, new { @class = "form-control", aria_label = "Loss rate to the nearest thousandth" })
                            @Html.ValidationMessageFor(p => p.LossRate)
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-3 ml-sm-auto">
                                <button type="submit" class="btn btn-info btn-block">
                                    <i class="far fa-save mr-2"></i>Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('input.form-control[type=text]').focusin(function () {
                this.select();
            });
        });
    </script>
}